<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title>To Do List</title>
</head>
<body>

    <section class="message message-<%= type %>">
        <p><%= message %></p>
        <span id="close-message"><i class="bi bi-x"></i></span>
    </section>

    <header>
        <h1>TO DO LIST FULL STACK</h1>
    </header>

    <section id="insira_tarefa">
        <div class="input-wrapper">
        <% if (task == null) { %>
        <form action="/create" method="post">
            <input type="text" name="task" id="task" placeholder="Insira uma tarefa">
            <button id="addButton" type="submit">Adicionar</button>
        </form>
        </div>
        <% } else { %>

        <form action="/updateOne/<%=  task._id %>" method="post">
            <input typ="text" name="task" id="task" value="<%= task.task %>">
            <button id="addButton" type="submit">Atualizar</button>
        </form>
        <% } %>
    </section>

  <!--  <section id="tasks">
        <ul>
            <% tasksList.forEach((task)=>{ %>
                <li class="check-<%= task.check %>">
                    <div>
                        <a href="/check/<%= task._id %>" class="check-<%= task.check %>"><%= task.task %></a>
                        <span>Criado em <%= task.date.toLocaleDateString('pt-BR') %></span> 
                    </div>
                     
                    <div>
                        <a class="btnUpdate" href="/getById/<%= task._id %>/update"><i class="bi bi-pencil-square"></i></a>
                        <a class="btnDelete" href="/getById/<%= task._id %>/delete"><i class="bi bi-trash"></i></a>
                    </div>
                </li>
            <% }) %>
        </ul>
    </section> -->

    <section id="tasks">
        <ul>
            <% tasksList.forEach((task) => { %>
                <div id="linhaTarefa">
                <li class="check-<%= task.check %>">
        
                    <button class="checkButton"></button>

                    <a href="/check/<%= task._id %>" class="check-<%= task.check %>"><%= task.task %> <span>Criado em <%= task.date.toLocaleDateString('pt-br') %></span></a> 
                    
                    <div id="buttons">
                        <a class="btnUpdate" href="/getById/<%= task._id %>/update"><i class="bi bi-pencil"></i></a>
                        <a class="btnDelete" href="/getById/<%= task._id %>/delete"><i class="bi bi-trash" id="trash"></i></a>
                    </div>
                </li>
                </div>
                
            <% }) %>
        </ul>
    </section>

    <% if (taskDelete !=null) { %>
        <%- include('./components/modalDel', {task: taskDelete})  %>
    <% } %>
    
    <script src="script.js"></script>
</body>
</html>